.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FBFBFB;
  padding: 80px 115px;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  max-width: 450px;
}
.infoData {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  max-width: 413px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-right: 37px;
}

.infoData h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  /*padding-bottom: 20px;*/
}

.infoData p {
  color: #676A71;
}

.infoData span {
  color: #009CB4;
}

.infoImg {
  max-width: 505px;
  max-height: 502px;
}

.infoImg img {
  width: 100%;
}

.findForm {
  display: flex;
}

.findButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009CB4;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01em;
  width: 120px;
  height: 56px;
}